.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 7px rgba(126,125,125,0.61); 
box-shadow: 0px 0px 5px 7px rgba(126,125,125,0.61);
}

.chartTitle {
  margin-bottom: 20px;
}

.chart {
  background-color: rgb(126, 125, 125);
  }