.user {
  flex: 4;
  padding: 20px;
  /* background-color: rgb(126, 125, 125); */
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(126, 125, 125);
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.71); 
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.71);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.71); 
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.71);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
  color: rgb(126, 125, 125);
}

.userShowUserTitle {
  font-weight: 300;
  color: rgb(80, 80, 80)
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(126, 125, 125);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
  color: rgb(126, 125, 125);
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: rgb(126, 125, 125);
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
  color: rgb(126, 125, 125);
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(68, 68, 68);
  color: white;
  font-weight: 600;
}
