.productList {
  flex: 4;
  background-color: rgb(126, 125, 125);
  color: white !important;
}

.productListItem {
  display: flex;
  align-items: center;
  color: white;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(68, 68, 68) !important;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: white !important;
  cursor: pointer;
}
