.newProduct {
    flex: 4 !important;
  }
  
  .addProductForm {
    margin-top: 10px !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
  
  .addProductItem {
    width: 400px;
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }
  
  .addProductItem > label {
    color: gray !important;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px !important;
  }
  
  .addProductItem > select {
    padding: 10px !important;
  }
  
  .addProductButton {
    height: 30px !important;
    margin-top: 10px !important;
    padding: 7px 10px !important;
    border: none !important;
    border-radius: 10px !important;
    background-color: rgb(68, 68, 68) !important;
    color: white !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    align-self: center !important
  }
  