footer {
    color: #f5f5f1;
  }

  .footer-icon {
  font-size: 1.3em;
  margin-left: 1%;
  margin-right: 1%;
  color: #838383;
}

.footer-links {
  text-align: left;
  font-size: 0.8em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #838383;
}

.footer-links a {
  color: #838383;
}

.footer-button {
  color: #838383 !important;
  border-color: #838383 !important;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}



